@mixin column-direction {
  display: flex;
  flex-direction: column;
}

@mixin row-direction {
  display: flex;
  flex-direction: row;
}

@mixin ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
}

@mixin lighter-font {
  font-weight: 100;
}

@mixin bold-font {
  font-weight: 500;
}

@mixin bolder-font {
  font-weight: 700;
}

