@import '../../styles/variables';

.header {
  @include column-direction;

  .search-form {
    .search-input {
      opacity: 0.7;
      outline: none;
      padding: 5px;
      flex: 2;
    }

    .search-button {
      opacity: 0.7;
      outline: none;
      font-weight: bold;
      padding: 3px 10px;
      background-color: $_COLOR_MANDY;
      color: $_COLOR_WHITE;
      border: none;
      flex: 1;
    }
  }
}
